.txt_white {
  color: var(--txt-light);
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.align_center {
  align-items: center;
}

.content_cente {
  justify-content: center;
}

.txt_center {
  text-align: center;
}

.vh_100 {
  min-height: 100vh;
}

.app {
  background: #f1f1f1;
}

.app_wrapper {
  padding: 1rem 0 3rem;
}

.app_row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.app_title {
  line-height: 1;
  letter-spacing: 2px;
  width: 280px;
  color: #d60b0b;
  font-size: 3.25rem;
}

.app_title span {
  font-size: 4rem;
  letter-spacing: 30px;
  color: #090fbd;
}

.help_button {
  padding: 0.5rem;
  cursor: pointer;
  font-size: 2rem;
  line-height: 2rem;
  border-radius: 69px;
  background-color: var(--white-color);
}
